<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:if="${#fields.hasAnyErrors()}" th:fragment="errors">
    Field errors:
    <div th:each="err : ${#fields.allErrors()}" th:text="|* ${err}|" class='error'></div>
    <br/>
</div>

</body>
</html>