<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<!--<head th:replace="header :: hd">-->
<!--    <title>-&#45;&#45;Index Header-&#45;&#45;</title>-->
<!--&lt;!&ndash;    <div id="hhh111" th:replace="header :: hd"></div>&ndash;&gt;-->
<!--</head>-->

<head>
    <title>Login</title>
</head>

<body>
<!--style="border: red solid 3px;"-->
<!--text-align: center;-->

<!--<span th:text="${#locale.getDisplayCountry()} + ' | ' + ${#locale.country}">US</span> |||-->
<!--<span th:text="${#locale.language} + ' | ' + ${#locale.getDisplayLanguage()}">US</span>-->

<!--<p th:text="|getTimeInMillis: ${#execInfo.getNow().getTimeInMillis()}, processedTemplateName: ${#execInfo.processedTemplateName}|">US</p>-->
<!--<p th:text="|processedTemplateMode: ${#execInfo.processedTemplateMode.name()}, processedTemplateName: ${#execInfo.processedTemplateName}|">US</p>-->

<!--<head th:replace="main_menu :: mainmenu"></head>-->

<div layout:fragment="content">

    <div class="contentMenu">
        <div><a href="/">Main</a></div>
    </div>

    Login:
    <form th:action="@{/process_login}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">

        <div th:replace="auth/fragments.html :: errors"></div>

        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Username: </label>
                <div class="col-8">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class='error'></div>
                    <input type="email" th:field="*{name}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="1" maxlength="10"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </form>
</div>

<!--<div id="alert" th:fragment="alert('qqq')"></div>-->

<!--<div th:insert="footer :: (${user.isAdmin}? #{footer.admin} : #{footer.normaluser})"></div>-->
<!--<div th:content="" th:replace="footer :: ft('qqqq')"></div>-->
</body>
</html>