<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<!--<head th:replace="header :: hd">-->
<!--    <title>-&#45;&#45;Index Header-&#45;&#45;</title>-->
<!--&lt;!&ndash;    <div id="hhh111" th:replace="header :: hd"></div>&ndash;&gt;-->
<!--</head>-->

<head>
    <title>Fac list (index)</title>
</head>

<body>
<!--style="border: red solid 3px;"-->
<!--text-align: center;-->

<!--<span th:text="${#locale.getDisplayCountry()} + ' | ' + ${#locale.country}">US</span> |||-->
<!--<span th:text="${#locale.language} + ' | ' + ${#locale.getDisplayLanguage()}">US</span>-->

<!--<p th:text="|getTimeInMillis: ${#execInfo.getNow().getTimeInMillis()}, processedTemplateName: ${#execInfo.processedTemplateName}|">US</p>-->
<!--<p th:text="|processedTemplateMode: ${#execInfo.processedTemplateMode.name()}, processedTemplateName: ${#execInfo.processedTemplateName}|">US</p>-->

<!--<head th:replace="main_menu :: mainmenu"></head>-->

<div layout:fragment="content">
    <div class="contentMenu">
        <div><a href="/facuties/new">New</a></div>
    </div>
    <!--    border: #FFFA86 solid 3px;-->
    <div th:replace="indexTablePager :: indexmenu"></div>
<!--    width="50%" style="margin:2%; margin-left: auto; margin-right: auto;"-->
    <table>
        <tr>
            <th><a th:href="@{/faculties/page/0?sort=name}">FacName</a></th>
            <th><a th:href="@{/faculties/page/0?sort=budget}">Budget</a></th>
            <th><a th:href="@{/faculties/page/0?sort=contract}">Contract</a></th>
            <th><a th:href="@{/faculties/page/0?sort=users}">Users</a></th>
        </tr>
        <tr th:each="o : ${list}">
            <td>
                <a th:text="${o.getName()}" th:href="@{/facuties/{id}(id=${o.getId()})}">fac</a>
            </td>
            <td>[[${o.getBudget()}]]</td>
            <td>[[${o.getContract()}]]</td>
            <td>[[${o.getUsers().size()}]]</td>
        </tr>
    </table>
    <div th:replace="indexTablePager :: indexmenu"></div>
</div>

<!--<div id="alert" th:fragment="alert('qqq')"></div>-->

<!--<div th:insert="footer :: (${user.isAdmin}? #{footer.admin} : #{footer.normaluser})"></div>-->
<!--<div th:content="" th:replace="footer :: ft('qqqq')"></div>-->
</body>
</html>