<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>1</title>
</head>
<header style="background-color: azure">Headerrrrrr</header>
<body>
bodyyyyyyyy
<p>
    <span th:each="i : ${#numbers.sequence(1, 10)}">
        <span>[[${i}]]</span>
        &nbsp;
    </span>
</p>
</body>
<footer style="background-color: azure">footerrrrrrr</footer>
</html>