<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<header style="background-color: azure">Headerrrrrr</header>

<section>
    Hello,
    <a href="/bye">go to bye</a>
    Msg:
    <p th:text="${msg}"></p>
    Counter:
    <p th:text="${counter}"></p>
</section>

<p>
    <span th:each="i : ${#numbers.sequence(1, 10)}">
        <span>[[${i}]]</span>
        &nbsp;
    </span>
</p>

<div th:each="i : ${#numbers.sequence(1, 10)}">
    <div th:replace="footer :: ft(${i})">
        Test replace....
    </div>
</div>

<footer style="background-color: azure">footerrrrrrr
    <p layout:fragment="custom-footer">Custom footer here</p>
</footer>

</body>

</html>