<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Show User</title>
</head>
<body>
    <div layout:fragment="content">
        <p>Id: <span th:text="${user.getId()}">Eto Id</span></p>
        <p>UserName: <span th:text="${user.getName()}">Eto Name</span></p>
        <hr />

        <p>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
        </p>

        <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Делете">
        </form>
    </div>
</body>
</html>