body {
    _background: linear-gradient(-270deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #FFFA86, #ffffff);
    _background-size: 200% 200%;
    _animation: gradient 5s reverse 5;
    font-family: Arial Black;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    20% {
        background-position: 0% 0%;
    }
    40% {
        background-position: 100% 0%;
    }
    60% {
        background-position: 70% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.indexTablePager {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#content {
    /*margin:2%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
}

.contentMenu {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contentMenu div {
    display: block;
    font-weight: bold;
    border: #cccccc solid 1px;
    width: 100px;
    text-align: center;
    background-color: #e9e9e9;
}

.contentMenu div:hover {
    background-color: #ffb77a;
}

table {
    _background: linear-gradient(-0deg, #cccccc, #aaaaaa);
    _border: #cccccc solid 3px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    _border-radius: 20px;
}

input, button {
    font-size: larger;
    padding: 5px;
    margin-bottom: 7px;
}

form {
    background: linear-gradient(-0deg, #eeeeee, #cccccc);
    border: #cccccc solid 3px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

th {
    background: #eeeeee;
}

td {
    text-align: left;
}

td, th {
    _background: white;
    padding: 5px;
    _border-radius: 20px;
    border-bottom: 1px solid gray;
}

#navigation {
    padding: 10px;
    background: linear-gradient(180deg, #ffffff, #999999);
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}


span, p, a {
    background: linear-gradient(180deg, #999999, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer {
    background: linear-gradient(180deg,  #ffffff, #cccccc 90%, #ffffff);

    //background: linear-gradient(180deg, #ffffff, #cccccc);


    _min-height: 400%;
    padding: 5%;
}

.error {
    color: red;
    margin-left: 20px;
}