<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">-->
<!--    <head th:fragment="hd">-->
<!--        <meta http-equiv="content-type" content="text/html; charset=windows-1251" />-->
<!--        <script type="text/javascript" th:src="@{/js/a.js}"></script>-->
<!--        <link rel="stylesheet" href="/css/mycss.css">-->
<!--        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">cccccccc</title>-->
<!--&lt;!&ndash;        <title>[[${title}]]</title>&ndash;&gt;-->
<!--        &lt;!&ndash;    <link rel="stylesheet" href="http://localhost:8080/mycss.css">&ndash;&gt;-->
<!--        &lt;!&ndash;    <link rel="stylesheet" href="/users/mycss.css">&ndash;&gt;-->

<!--        &lt;!&ndash;    <link href="../static/css/mycss.css" th:href="@{css/mycss.css}" rel="stylesheet" media="screen"/>&ndash;&gt;-->

<!--        &lt;!&ndash; Latest compiled and minified CSS-->
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
<!--              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"-->
<!--              crossorigin="anonymous"> &ndash;&gt;-->
<!--    </head>-->
<!--</html>-->