<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<!--<head th:replace="header :: hd">-->
<!--    <title>-&#45;&#45;Index Header-&#45;&#45;</title>-->
<!--&lt;!&ndash;    <div id="hhh111" th:replace="header :: hd"></div>&ndash;&gt;-->
<!--</head>-->

<head>
    <title>index</title>
</head>

<body>
<!--style="border: red solid 3px;"-->
<!--text-align: center;-->

<!--<span th:text="${#locale.getDisplayCountry()} + ' | ' + ${#locale.country}">US</span> |||-->
<!--<span th:text="${#locale.language} + ' | ' + ${#locale.getDisplayLanguage()}">US</span>-->

<!--<p th:text="|getTimeInMillis: ${#execInfo.getNow().getTimeInMillis()}, processedTemplateName: ${#execInfo.processedTemplateName}|">US</p>-->
<!--<p th:text="|processedTemplateMode: ${#execInfo.processedTemplateMode.name()}, processedTemplateName: ${#execInfo.processedTemplateName}|">US</p>-->

<!--<head th:replace="main_menu :: mainmenu"></head>-->

<div layout:fragment="content">
    -INDEX-
</div>

<!--<div id="alert" th:fragment="alert('qqq')"></div>-->

<!--<div th:insert="footer :: (${user.isAdmin}? #{footer.admin} : #{footer.normaluser})"></div>-->
<!--<div th:content="" th:replace="footer :: ft('qqqq')"></div>-->
</body>
</html>