<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="indexTablePager" th:fragment="indexmenu">
<span th:if="${totalPages > 0}">

    <span>
        Total elements: [[${totalElements}]] | Total pages: [[${totalPages}]] | pageNumber: [[${pageNumber}]]
        <br/>
    </span>
    <span th:if="${pageNumber > 0}"><a href="../page/0">First</a></span>
    <span th:if="${pageNumber == 0}">First</span>
    &nbsp;
    <span th:if="${pageNumber > 0}"><a th:href="@{'../page/' + ${pageNumber-1}}">Prev</a></span>
    <span th:if="${pageNumber == 0}">Prev</span>
    &nbsp

    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <span th:if="${i != pageNumber+1}"><a th:href="@{'../page/' + ${i-1}}">[[${i}]]</a></span>
        <span th:if="${i == pageNumber+1}">[ [[${i}]] ]</span>&nbsp;
    </span>

    <span th:if="${pageNumber < totalPages-1}"><a th:href="@{'../page/' + ${pageNumber+1}}">Next</a></span>
    <span th:if="${pageNumber == totalPages-1}">Next</span>
    &nbsp;
    <span th:if="${pageNumber < totalPages-1}"><a th:href="@{'../page/' + ${totalPages-1}}">Last</a></span>
    <span th:if="${pageNumber == totalPages-1}">Last</span>
</span>
</div>
</body>
</html>