<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--<head th:replace="header :: hd">-->
<!--    <title>zxczxczczxzxzczx</title>-->
<!--</head>-->

<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1251" />
    <script type="text/javascript" th:src="@{/js/a.js}"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <!--        <title>[[${title}]]</title>-->
    <!--    <link rel="stylesheet" href="http://localhost:8080/mycss.css">-->
    <!--    <link rel="stylesheet" href="/users/mycss.css">-->

    <!--    <link href="../static/css/mycss.css" th:href="@{css/mycss.css}" rel="stylesheet" media="screen"/>-->

    <!-- Latest compiled and minified CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/mycss.css" th:href="@{/css/mycss.css}" >
</head>

<body>

<div th:replace="main_menu :: navigation"></div>

<div id="content" layout:fragment="content"></div>

<div th:replace="footer :: footer"></div>

</body>

</html>

<!--<head th:replace="main_menu :: mainmenu"></head>-->
<!--<div th:content="" th:replace=" :: "></div>-->
<!--<div th:replace="footer :: ft('qqqq')"></div>-->

