body {
    background: linear-gradient(-270deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #FFFA86, #ffffff);
    background-size: 200% 200%;
    animation: gradient 5s reverse 5;
    font-family: Impact;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    20% {
        background-position: 0% 0%;
    }
    40% {
        background-position: 100% 0%;
    }
    60% {
        background-position: 70% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

table {
    background-color: aliceblue;
    border: 1px solid azure;
}
